.lbs-page {
  flex-direction: column;
}
.lbs-page > .banner {
  width: 100%;
  height: 456px;
}
.lbs-page > text {
  margin: 38px 54px 65px;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  line-height: 70px;
}
.lbs-page .form {
  padding: 0 50px;
  flex-direction: column;
}
.lbs-page .form input {
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 40px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .form .phone-wrapper {
  margin-bottom: 30px;
  justify-content: space-between;
}
.lbs-page .form .phone-wrapper input {
  padding-left: 50px;
}
.lbs-page .form .phone-wrapper .phone-number-wrapper {
  padding-left: 50px;
  width: 446px;
  margin-right: 10px;
  justify-content: flex-start;
  border-radius: 40px;
  align-items: center;
  background-color: #f5f5f5;
}
.lbs-page .form .phone-wrapper .phone-number-wrapper image {
  width: 22px;
  height: 35px;
}
.lbs-page .form .phone-wrapper .phone-number-wrapper text {
  margin-left: 30px;
  font-size: 28px;
  color: #424242;
}
.lbs-page .form .phone-wrapper .phone-number-wrapper .phone-number {
  flex: 1;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.lbs-page .form .phone-wrapper .code-btn {
  padding-left: 0;
  width: 194px;
  font-size: 24px;
  color: #fb8431;
}
.lbs-page .form .password-wrapper {
  margin-bottom: 60px;
  padding-left: 50px;
  width: 650px;
  margin-right: 10px;
  justify-content: flex-start;
  border-radius: 40px;
  align-items: center;
  background-color: #f5f5f5;
}
.lbs-page .form .password-wrapper image {
  width: 22px;
  height: 35px;
}
.lbs-page .form .password-wrapper .identifying-code {
  flex: 1;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.lbs-page .form .forgot {
  margin: 16px;
  align-self: flex-end;
  font-size: 28px;
  color: #787878;
  line-height: 28px;
}
.lbs-page .form .login-btn {
  justify-content: center;
  width: 650px;
  height: 88px;
  background: linear-gradient(45deg, #ffa042, #ff6a53);
  border-radius: 44px;
}
.lbs-page .form .login-btn text {
  font-size: 32px;
  border-radius: 44px;
  color: #fffffe;
}
.lbs-page .form .use-password {
  margin-top: 25px;
  align-self: center;
  font-size: 28px;
  color: #565656;
  line-height: 40px;
}
.lbs-page .pwd-login .phone-wrapper .phone-number-wrapper {
  width: 650px;
}
