.lbs-page {
  flex-direction: column;
}
.lbs-page .banner {
  flex-direction: column;
  width: 750px;
  height: 302px;
  background: linear-gradient(315deg, #f99c8e 0%, #f68022 100%);
  opacity: 0.4743;
}
.lbs-page .banner .tip {
  margin: 98px 0 48px 0;
  text-align: center;
  width: 100%;
  height: 33px;
  font-size: 24px;
  color: #ffffff;
  line-height: 33px;
}
.lbs-page .banner .btn-wrapper {
  justify-content: center;
}
.lbs-page .banner .btn-wrapper .btn {
  width: 201px;
  height: 60px;
  background-color: #fffffe;
  border-radius: 35px;
  font-size: 26px;
  color: #fb8431;
}
.lbs-page .banner .btn-wrapper .claim {
  margin-right: 26px;
}
.lbs-page .panel-active {
  flex-direction: column;
  margin-top: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  border-style: solid;
}
.lbs-page .tip-wrapper {
  justify-content: center;
  padding-top: 59px;
  padding-bottom: 67px;
}
.lbs-page .tip-wrapper .tip {
  height: 40px;
  font-size: 24px;
  color: #757575;
  line-height: 33px;
}
.lbs-page .tip-wrapper .count {
  margin-right: 1px;
  width: 31px;
  text-align: center;
  background-color: #ff5500;
  opacity: 0.3107;
}
.lbs-page .panel-business {
  flex-direction: column;
  margin-top: 33px;
}
.lbs-page .card-wrapper {
  margin-top: 51px;
  justify-content: center;
}
.lbs-page .card-wrapper .card-item {
  flex-direction: column;
  margin-right: 2px;
  width: 164px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #cccccc;
}
.lbs-page .card-wrapper .card-item text {
  text-align: center;
}
.lbs-page .card-wrapper .card-item .count {
  margin-top: 46px;
  height: 49px;
  font-size: 38px;
  font-weight: bold;
  color: #ff5500;
  line-height: 50px;
}
.lbs-page .card-wrapper .card-item .desc {
  margin-top: 16px;
  height: 28px;
  font-size: 20px;
  color: #434343;
  line-height: 28px;
}
.lbs-page .panel-activity {
  margin-top: 20px;
}
.lbs-page .activity-wrapper {
  justify-content: space-between;
}
.lbs-page .panel-hot {
  flex-direction: column;
  margin-top: 33px;
}
.lbs-page .panel-hot .title {
  padding-left: 50px;
  height: 33px;
  font-size: 24px;
  font-weight: bold;
  color: #626262;
  line-height: 33px;
}
.lbs-page .panel-hot .hot-wrapper {
  margin: 29px 14px 0 14px;
  width: 722px;
  height: 393px;
  background-color: #00ffff;
}
