.lbs-page {
  flex-direction: column;
  .banner {
    flex-direction: column;
    width: 750px;
    height: 302px;
    background: linear-gradient(
      315deg,
      rgba(249, 156, 142, 1) 0%,
      rgba(246, 128, 34, 1) 100%
    );
    opacity: 0.4743;
    .tip {
      margin: 98px 0 48px 0;
      text-align: center;
      width: 100%;
      height: 33px;
      font-size: 24px;
      color: rgba(255, 255, 255, 1);
      line-height: 33px;
    }
    .btn-wrapper {
      justify-content: center;
      .btn {
        width: 201px;
        height: 60px;
        background-color: rgba(255, 255, 254, 1);
        border-radius: 35px;
        font-size: 26px;
        color: rgba(251, 132, 49, 1);
      }
      .claim {
        margin-right: 26px;
      }
    }
  }
  .panel-active {
    flex-direction: column;
    margin-top: 20px;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    border-style: solid;
  }
  .tip-wrapper {
    justify-content: center;
    padding-top: 59px;
    padding-bottom: 67px;
    .tip {
      height: 40px;
      font-size: 24px;
      color: rgba(117, 117, 117, 1);
      line-height: 33px;
    }
    .count {
      margin-right: 1px;
      width: 31px;
      text-align: center;
      background-color: rgba(255, 85, 0, 1);
      opacity: 0.3107;
    }
  }
  .panel-business {
    flex-direction: column;
    margin-top: 33px;
  }
  .card-wrapper {
    margin-top: 51px;
    justify-content: center;
    .card-item {
      flex-direction: column;
      margin-right: 2px;
      width: 164px;
      height: 180px;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 12px;
      border: 1px solid #cccccc;
      text {
        text-align: center;
      }
      .count {
        margin-top: 46px;
        height: 49px;
        font-size: 38px;
        font-weight: bold;
        color: rgba(255, 85, 0, 1);
        line-height: 50px;
      }
      .desc {
        margin-top: 16px;
        height: 28px;
        font-size: 20px;
        color: rgba(67, 67, 67, 1);
        line-height: 28px;
      }
    }
  }
  .panel-activity {
    flex-direction: column;
    margin-top: 20px;
  }

  .activity-wrapper {
    padding: 50px 100px;
    justify-content: space-between;
    .activity-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      text {
        margin-top: 10px;
        font-size:22px;
        color:rgba(64,64,64,1);
        line-height:30px;
      }
    }
  }
  .group-list {
    flex-direction: column;
    .content-item {
      padding: 35px 50px;
      justify-content: space-between;
      align-items: center;
      border-bottom-width: 1px;
      border-bottom-color: #cccccc;
      border-style: solid;
      .text-wrapper {
        flex-direction: column;
        align-items: flex-start;
        .top {
          align-items: center;
          .name {
            margin-right: 10px;
            font-size:28px;
            font-weight:bold;
            color:rgba(74,74,74,1);
            line-height:40px;
          }
          .status {
            text-align: center;
            width:60px;
            height:30px;
            font-size:18px;
            color:rgba(245,117,28,1);
            line-height:30px;
          }
        }
        .ratio {
          span {
            font-size:26px;
            line-height:37px;
          }
          .current {
            color:rgba(255,85,0,1);
          }
          .total {
            color: #A4A4A4;
          }
        }
      }
      .share-wrapper {
        flex-direction: column;
        align-items: flex-end;
        .img {
          width: 30px;
          height: 30px;
        }
        .time {
          font-size:22px;
          color:rgba(164,164,164,1);
          line-height:30px;
        }
      }
    }
    .load-more {
      margin-top: 50px;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 80px;
      border: 1px solid rgba(255,85,0,1);
      border-radius: 40px;
      text {
        font-size:24px;
        color:rgba(255,85,0,1);
      }
    }
  }

  .panel-hot {
    flex-direction: column;
    margin-top: 33px;
    .title {
      padding-left: 50px;
      height: 33px;
      font-size: 24px;
      font-weight: bold;
      color: #626262;
      line-height: 33px;
    }
    .hot-wrapper {
      margin: 29px 14px 0 14px;
      width: 722px;
      height: 393px;
      background-color: #00ffff;
    }
  }
}
