.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
}
.lbs-page label {
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 35px;
  font-size: 24px;
  color: #878787;
  line-height: 33px;
}
.lbs-page > input {
  padding-left: 35px;
  width: 650px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page picker {
  text-align: center;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #070707;
}
.lbs-page .upload-wrapper {
  justify-content: center;
}
.lbs-page .upload-wrapper .upload {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 236px;
  height: 173px;
  border: 1px solid #cccccc;
}
.lbs-page .upload-wrapper .upload image {
  width: 40px;
  height: 35px;
}
.lbs-page .upload-wrapper .upload text {
  margin-top: 9px;
  height: 33px;
  font-size: 24px;
  color: #474747;
  line-height: 33px;
}
.lbs-page .upload-wrapper image {
  width: 236px;
  height: 173px;
  border: 1px solid #cccccc;
}
.lbs-page .btn-wrapper {
  justify-content: space-between;
}
.lbs-page .btn-wrapper input {
  width: 315px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #000000;
}
.lbs-page .btn-wrapper .active {
  border: 1px solid #f67222;
}
.lbs-page .time-wrapper {
  justify-content: space-between;
  align-items: center;
}
.lbs-page .time-wrapper picker {
  width: 250px;
}
.lbs-page .time-wrapper text {
  width: 20px;
  height: 40px;
  font-size: 28px;
  color: #878787;
  line-height: 40px;
}
.lbs-page .state-wrapper picker {
  width: 650px;
}
.lbs-page .address-wrapper {
  justify-content: space-between;
}
.lbs-page .address-wrapper picker {
  width: 200px;
}
.lbs-page .next-button {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 67px;
  width: 650px;
  height: 88px;
  background-color: #ffa042;
  border-radius: 44px;
}
.lbs-page .next-button text {
  font-size: 28px;
  color: #ffffff;
}
