.lbs-page {
  .tab-bar {
    padding: 20px 0;
    justify-content: space-between;
    .tab-bar-text {
      justify-content: center;
      text {
        //text-align: center;
        padding-bottom: 30px;
        font-size: 24px;
        color: #BABABA;
      }
    }
    .active {
      border-bottom-color: rgba(251, 132, 49, 1);
      border-style: solid;
      border-bottom-width: 2px;
      text {
        color: rgba(251, 132, 49, 1);
      }
    }
  }
}
